@font-face {
	font-family: 'Open Sans';
	src: url(/fonts/OpenSans.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans';
	src: url('/fonts/DMSans.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans Italic';
	src: url('/fonts/DMSans-Italic.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'DM Serif Display';
	src: url('/fonts/DMSerifDisplay-Regular.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'DM Serif Display Italic';
	src: url('/fonts/DMSerifDisplay-Italic.woff2') format('woff2');
	font-display: swap;
}

html {
	/* === Base === */
	--bg: hsl(0, 0%, 96%);
	--text: hsl(0, 0%, 0%);

	/* === Brand Colors === */
	--primary: hsl(69, 64%, 35%);
	--primary-dark: hsl(69, 65%, 20%);
	--primary-light: hsl(69, 39%, 80%);

	/* === Accent Colors === */
	--accent-blue: hsl(206, 89%, 35%);
	--accent-blue-dark: hsl(206, 89%, 15%);
	--accent-blue-light: hsl(206, 89%, 80%);

	--accent-purple: hsl(267, 39%, 65%);
	--accent-purple-dark: hsl(267, 39%, 15%);
	--accent-purple-light: hsl(267, 39%, 80%);

	--accent-peach: hsl(25, 72%, 65%);
	--accent-peach-dark: hsl(25, 72%, 15%);
	--accent-peach-light: hsl(25, 72%, 80%);

	/* === Neutrals === */
	/* low number = light, high number = dark */
	--neutral-50: hsl(0, 0%, 99%);
	--neutral-100: hsl(0, 0%, 97%);
	--neutral-200: hsl(0, 0%, 94%);
	--neutral-300: hsl(0, 0%, 88%);
	--neutral-400: hsl(0, 0%, 74%);
	--neutral-500: hsl(0, 0%, 60%);
	--neutral-600: hsl(0, 0%, 45%);
	--neutral-700: hsl(0, 0%, 30%);
	--neutral-800: hsl(0, 0%, 20%);
	--neutral-900: hsl(0, 0%, 10%);

	/* === Shadows === */
	--shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
	--shadow-accent: 0 4px 6px rgba(35, 53, 12, 0.15), 0 1px 3px rgba(35, 53, 12, 0.15);

	/* === Fonts === */
	--heading-font-family: 'DM Serif Display', sans-serif;
	--font-family: 'DM Sans', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-family);
}

body {
	background-color: var(--bg);
	color: var(--text);
	line-height: 1.6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 6rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	width: 100%;
	max-width: 75rem;
	padding: 0 1rem;
}

main > section {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font-family);
	text-box: trim-both cap alphabetic;
}

li {
	list-style: none;
	transition: all 0.25s ease-in-out;
}

a {
	color: var(--text);
	text-decoration: none;
	transition: all 0.25s ease-in-out;

	&:hover {
		color: var(--primary-light);
	}
}

a:hover {
	color: var(--primary);
}

button {
	border-radius: 4px;
	padding: 0.5rem 1rem;
}
